
@{
    ViewBag.Title = "Index";
}

<h2>Calculadora Completa</h2>

<form method="post">
    <table border="1">
        <tr>
            <td colspan="5">visor</td>
        </tr>
        <tr>
            <td>
               <input type="submit" value="7" name="bt"/>
            </td>
            <td>
               <input type="submit" value="8" name="bt"/>
            </td>
            <td>
               <input type="submit" value="9" name="bt"/>
            </td>
            <td>
                <input type="submit" value=":" name="bt"/>
            </td>
            <td>
               <input type="submit" value="+/-" name="bt"/>
            </td>
        </tr>
    </table>
</form>
