
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora Completa</title>
</head>
<body>
    <h3>Calculadora Completa</h3>

    <form method="post">
        <table>
            <tr>
                <td colspan="5">visor</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="bt7" name="bt"/>
                </td>
                <td>
                    <input type="submit" value="bt8" name="bt"/>
                </td>
                <td>
                    <input type="submit" value="bt9" name="bt"/>
                </td>
                <td>
                    <input type="submit" value="btDiv" name="bt"/>
                </td>
                <td>
                    <input type="submit" value="btMaisMenos" name="bt"/>
                </td>
            </tr>
        </table>

    </form>
</body>
</html>
